{

    "env": {
        "es6": true
    },
    "globals": {
        "Framework": true
    },
    "rules": {
        "semi": [2, "never"]
    },
    "parserOptions": {
        "sourceType": "module"
    }
}
